body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
nav {
  width: 100%;
  background-color: black;
  display: flex;
  padding-top: 2px;
}
.hamburger {
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  width: 50%;
  align-items: center;
}
.logo-page {
  margin-inline-start: 10px;
}
