* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
li {
  list-style: none;
}
nav {
  height: 10vh;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  background-color: black;
  padding-right: 30px;
  overflow: hidden;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  color: #5b8da7;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.logo-page a:hover {
  color: #5b8da7;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.menu {
  display: flex;
  font-size: 17px;
  gap: 4em;
}

.logo-page a {
  font-size: 35px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
  margin-inline-start: 15px;
}
input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  color: white;
}
.container {
  height: 90vh;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.container::before {
  content: "";
  background-image: url(../images/background-header.jpg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
}
.image-header,
.greeting-header {
  width: 50%;
  display: block;
}
.greeting-header {
  text-align: center;
  margin-top: 180px;
  line-height: 1.3;
  font-size: 75px;
  margin-right: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  color: #000000;
  text-shadow: -0 -2px 1px #ffffff, 0 -2px 1px #ffffff, -0 2px 1px #ffffff,
    0 2px 1px #ffffff, -2px -0 1px #ffffff, 2px -0 1px #ffffff,
    -2px 0 1px #ffffff, 2px 0 1px #ffffff, -1px -2px 1px #ffffff,
    1px -2px 1px #ffffff, -1px 2px 1px #ffffff, 1px 2px 1px #ffffff,
    -2px -1px 1px #ffffff, 2px -1px 1px #ffffff, -2px 1px 1px #ffffff,
    2px 1px 1px #ffffff, -2px -2px 1px #ffffff, 2px -2px 1px #ffffff,
    -2px 2px 1px #ffffff, 2px 2px 1px #ffffff, -2px -2px 1px #ffffff,
    2px -2px 1px #ffffff, -2px 2px 1px #ffffff, 2px 2px 1px #ffffff;
}
.image-header {
  width: 50%;
}
.emoji-icon {
  display: block;
  border: 3px solid white;
  border-radius: 50%;
  border-style: dashed;
  width: 330px;
  margin-left: 90px;
  margin-top: 160px;
  padding: 165px;
  height: 33px;
  background: url(images/image.png) no-repeat;
  background-position: center;
}
.about-myself {
  background-color: #000000;
  color: white;
  font: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar {
    height: 62px;
    padding-bottom: 5px;
  }
  .logo-page a {
    font-size: 30px;
  }
  .menu {
    display: block;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    font-size: 0;
    transition: 0.7s all cubic-bezier(0.47, 0, 0.75, 0.72);
    margin: 13px 0px;
  }
  .menu a {
    display: block;
    text-align: right;
    padding-right: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    cursor: pointer;
  }
  input[type="checkbox"]:checked ~ .menu {
    max-height: 150px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .container {
    background-size: cover;
    background-color: black;
  }
  .menu a:hover {
    color: #5b8da7;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  .logo-page a:hover {
    color: #5b8da7;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}
